<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BeeNavigator</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='/css/apis.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/style.css" rel='stylesheet' type='text/css'>
    <link href="/css/map.css" rel='stylesheet' type='text/css'>
</head>
<style>
    table {
        table-layout: fixed;
        width: 100%;
    }

    .col1 {
        width: 160px;
    }

    .coln {
        width: 60px;
    }
</style>

<body>
    <div class="dark-light">
        <div class="toggle-btn" id="_1st-toggle-btn">
            <input type="checkbox" onchange="bar()" id="check">
            <span></span>
          </div>
    </div>
    <div class="app">
        <div class="header">

            <div class="header-menu">
                <a href="/main" class="menu-link is-active">BeeNavigator</a>
            </div>
            <div class="header-profile">
                <div class="notification">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15.621 2.66859L11.9314 2.08881C8.71084 1.58272 7.10055 1.32967 6.05027 2.22779C5 3.12591 5 4.75596 5 8.01607V11H10.9194L8.21913 7.62469L9.78087 6.37531L13.7809 11.3753L14.2806 12L13.7809 12.6247L9.78087 17.6247L8.21913 16.3753L10.9194 13H5V15.9831C5 19.2432 5 20.8733 6.05027 21.7714C7.10055 22.6695 8.71084 22.4165 11.9314 21.9104L15.621 21.3306C17.2337 21.0771 18.04 20.9504 18.52 20.3891C19 19.8279 19 19.0116 19 17.3791V6.6201C19 4.98758 19 4.17132 18.52 3.61003C18.04 3.04874 17.2337 2.92202 15.621 2.66859Z"
                            fill="white" />
                    </svg>

                </div>
                <a href="/admin">
                    <div class="button-wrapper">
                        <button class="content-button status-button open">Вход для админа</button>
                    </div>
                </a>
            </div>
        </div>
        <div class="wrapper">
            <div class="left-side">
                <div class="side-wrapper">
                    <div class="side-title">Главный</div>
                    <div class="side-menu">
                        <a href="/main">
                            <svg viewBox="0 0 512 512">
                                <g xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path
                                        d="M0 0h128v128H0zm0 0M192 0h128v128H192zm0 0M384 0h128v128H384zm0 0M0 192h128v128H0zm0 0"
                                        data-original="#bfc9d1" />
                                </g>
                                <path xmlns="http://www.w3.org/2000/svg" d="M192 192h128v128H192zm0 0"
                                    fill="currentColor" data-original="#82b1ff" />
                                <path xmlns="http://www.w3.org/2000/svg"
                                    d="M384 192h128v128H384zm0 0M0 384h128v128H0zm0 0M192 384h128v128H192zm0 0M384 384h128v128H384zm0 0"
                                    fill="currentColor" data-original="#bfc9d1" />
                            </svg>
                            Домой
                        </a>
                        <br>
                        <div class="side-wrapper">
                            <div class="side-title">CSI</div>
                            <div class="side-menu">
                                <a href="/csi_cc">
                                   <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M12.3689 3.45107L8.78782 1.91633C8.28472 1.70072 7.71524 1.70072 7.21214 1.91633L3.63109 3.45107C2.81186 3.80217 2.32382 4.65301 2.43438 5.53743L2.71403 7.77464C2.93418 9.53586 3.81515 11.1477 5.17868 12.284L6.71961 13.5681C7.4613 14.1861 8.53866 14.1861 9.28035 13.5681L10.8213 12.284C12.1848 11.1477 13.0658 9.53586 13.2859 7.77465L13.5656 5.53743C13.6761 4.65301 13.1881 3.80217 12.3689 3.45107Z"
                                            stroke="#currentColor" stroke-width="2" stroke-linecap="round" />
                                    <path
                                            d="M6.00002 8L7.56876 9.56873C7.79186 9.79184 8.16331 9.75506 8.33833 9.49253L10.6667 6"
                                            stroke="#CCD2E3" stroke-width="2" stroke-linecap="round" />
                                </svg>
                                    CSI КЦ
                                </a>
                            </div>
                            <div class="side-menu">
                                <a href="/csi_opio">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path
                                                d="M12.3689 3.45107L8.78782 1.91633C8.28472 1.70072 7.71524 1.70072 7.21214 1.91633L3.63109 3.45107C2.81186 3.80217 2.32382 4.65301 2.43438 5.53743L2.71403 7.77464C2.93418 9.53586 3.81515 11.1477 5.17868 12.284L6.71961 13.5681C7.4613 14.1861 8.53866 14.1861 9.28035 13.5681L10.8213 12.284C12.1848 11.1477 13.0658 9.53586 13.2859 7.77465L13.5656 5.53743C13.6761 4.65301 13.1881 3.80217 12.3689 3.45107Z"
                                                stroke="#currentColor" stroke-width="2" stroke-linecap="round" />
                                        <path
                                                d="M6.00002 8L7.56876 9.56873C7.79186 9.79184 8.16331 9.75506 8.33833 9.49253L10.6667 6"
                                                stroke="#CCD2E3" stroke-width="2" stroke-linecap="round" />
                                    </svg>
                                    CSI ОПиО
                                </a>
                            </div>
                        </div>

                        <div class="side-wrapper">
                            <div class="side-title">Скрипты</div>
                            <div class="side-menu">
                                <a href="/script">
                                    <svg viewBox="0 0 488.932 488.932" fill="currentColor">
                                        <path
                                            d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z" />
                                    </svg>
                                    Нет дозвона
                                </a>
                                <a href="/not-internet">
                                    <svg viewBox="0 0 488.932 488.932" fill="currentColor">
                                        <path
                                                d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z" />
                                    </svg>
                                    Нет интернета
                                </a>
                                <a href="/internet">
                                    <svg viewBox="0 0 488.932 488.932" fill="currentColor">
                                        <path
                                            d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z" />
                                    </svg>
                                    Cкорость интернета
                                </a>
                                <a href="/fraud">
                                    <svg viewBox="0 0 488.932 488.932" fill="currentColor">
                                        <path
                                            d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z" />
                                    </svg>
                                    Блокировка по фроду
                                </a>
                                <a href="/perebros">
                                    <svg viewBox="0 0 488.932 488.932" fill="currentColor">
                                        <path
                                            d="M243.158 61.361v-57.6c0-3.2 4-4.9 6.7-2.9l118.4 87c2 1.5 2 4.4 0 5.9l-118.4 87c-2.7 2-6.7.2-6.7-2.9v-57.5c-87.8 1.4-158.1 76-152.1 165.4 5.1 76.8 67.7 139.1 144.5 144 81.4 5.2 150.6-53 163-129.9 2.3-14.3 14.7-24.7 29.2-24.7 17.9 0 31.8 15.9 29 33.5-17.4 109.7-118.5 192-235.7 178.9-98-11-176.7-89.4-187.8-187.4-14.7-128.2 84.9-237.4 209.9-238.8z" />
                                    </svg>
                                    Переброс 106
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Разделы</div>
                    <div class="side-menu">
                        <a href="/map">
                            <svg width="26" height="26" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8.39782 11.7992C9.52632 11.1904 12.6666 9.20801 12.6666 6.00001C12.6666 3.42268 10.5773 1.33334 7.99998 1.33334C5.42265 1.33334 3.33331 3.42268 3.33331 6.00001C3.33331 9.20801 6.47364 11.1904 7.60214 11.7992C7.85284 11.9345 8.14712 11.9345 8.39782 11.7992ZM7.99998 8.00001C9.10455 8.00001 9.99998 7.10458 9.99998 6.00001C9.99998 4.89544 9.10455 4.00001 7.99998 4.00001C6.89541 4.00001 5.99998 4.89544 5.99998 6.00001C5.99998 7.10458 6.89541 8.00001 7.99998 8.00001Z"
                                    fill="currentColor" />
                                <path
                                    d="M12.0414 11C12.451 11.304 12.6666 11.6489 12.6666 12C12.6666 12.3511 12.451 12.696 12.0414 13C11.6318 13.304 11.0427 13.5565 10.3333 13.7321C9.62389 13.9076 8.81915 14 7.99998 14C7.18081 14 6.37607 13.9076 5.66665 13.7321C4.95722 13.5565 4.36811 13.304 3.95853 13C3.54894 12.696 3.33331 12.3511 3.33331 12C3.33331 11.6489 3.54894 11.304 3.95853 11"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                            </svg>
                            Карта
                        </a>
                        <a href="/privet">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path
                                    d="M497 151H316c-8.401 0-15 6.599-15 15v300c0 8.401 6.599 15 15 15h181c8.401 0 15-6.599 15-15V166c0-8.401-6.599-15-15-15zm-76 270h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15zm0-180h-30c-8.401 0-15-6.599-15-15s6.599-15 15-15h30c8.401 0 15 6.599 15 15s-6.599 15-15 15z" />
                                <path
                                    d="M15 331h196v60h-75c-8.291 0-15 6.709-15 15s6.709 15 15 15h135v-30h-30v-60h30V166c0-24.814 20.186-45 45-45h135V46c0-8.284-6.716-15-15-15H15C6.716 31 0 37.716 0 46v270c0 8.284 6.716 15 15 15z" />
                            </svg>
                            Привет+

                        </a>
                        <a href="/content">
                            <svg viewBox="0 0 58 58" fill="currentColor">
                                <path
                                    d="M57 6H1a1 1 0 00-1 1v44a1 1 0 001 1h56a1 1 0 001-1V7a1 1 0 00-1-1zM10 50H2v-9h8v9zm0-11H2v-9h8v9zm0-11H2v-9h8v9zm0-11H2V8h8v9zm26.537 12.844l-11 7a1.007 1.007 0 01-1.018.033A1.001 1.001 0 0124 36V22a1.001 1.001 0 011.538-.844l11 7a1.003 1.003 0 01-.001 1.688zM56 50h-8v-9h8v9zm0-11h-8v-9h8v9zm0-11h-8v-9h8v9zm0-11h-8V8h8v9z" />
                            </svg>
                            Провайдеры
                        </a>
                        <a href="/vip">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path
                                    d="M499.377 46.402c-8.014-8.006-18.662-12.485-29.985-12.613a41.13 41.13 0 00-.496-.003c-11.142 0-21.698 4.229-29.771 11.945L198.872 275.458c25.716 6.555 47.683 23.057 62.044 47.196a113.544 113.544 0 0110.453 23.179L500.06 106.661C507.759 98.604 512 88.031 512 76.89c0-11.507-4.478-22.33-12.623-30.488zM176.588 302.344a86.035 86.035 0 00-3.626-.076c-20.273 0-40.381 7.05-56.784 18.851-19.772 14.225-27.656 34.656-42.174 53.27C55.8 397.728 27.795 409.14 0 416.923c16.187 42.781 76.32 60.297 115.752 61.24 1.416.034 2.839.051 4.273.051 44.646 0 97.233-16.594 118.755-60.522 23.628-48.224-5.496-112.975-62.192-115.348z" />
                            </svg>
                            VIP
                        </a>
                        <a href="/sms">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path
                                    d="M352 0H64C28.704 0 0 28.704 0 64v320a16.02 16.02 0 009.216 14.496A16.232 16.232 0 0016 400c3.68 0 7.328-1.248 10.24-3.712L117.792 320H352c35.296 0 64-28.704 64-64V64c0-35.296-28.704-64-64-64z" />
                                <path
                                    d="M464 128h-16v128c0 52.928-43.072 96-96 96H129.376L128 353.152V400c0 26.464 21.536 48 48 48h234.368l75.616 60.512A16.158 16.158 0 00496 512c2.336 0 4.704-.544 6.944-1.6A15.968 15.968 0 00512 496V176c0-26.464-21.536-48-48-48z" />
                            </svg>
                            SMS
                        </a>

                        <a href="/pull">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path
                                    d="M0 331v112.295a14.996 14.996 0 007.559 13.023L106 512V391L0 331zM136 391v121l105-60V331zM271 331v121l105 60V391zM406 391v121l98.441-55.682A14.995 14.995 0 00512 443.296V331l-106 60zM391 241l-115.754 57.876L391 365.026l116.754-66.15zM262.709 1.583a15.006 15.006 0 00-13.418 0L140.246 57.876 256 124.026l115.754-66.151L262.709 1.583zM136 90v124.955l105 52.5V150zM121 241L4.246 298.876 121 365.026l115.754-66.15zM271 150v117.455l105-52.5V90z" />
                            </svg>
                            Пулы
                        </a>
                        <a href="/office">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5 21V16C14.5 15.4477 14.0523 15 13.5 15H10.5C9.94772 15 9.5 15.4477 9.5 16V21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M5 11V17C5 18.8856 5 19.8284 5.58579 20.4142C6.17157 21 7.11438 21 9 21H15C16.8856 21 17.8284 21 18.4142 20.4142C19 19.8284 19 18.8856 19 17V11" stroke="currentColor" stroke-width="2"/>
                                <path d="M4.62127 4.51493C4.80316 3.78737 4.8941 3.42359 5.16536 3.21179C5.43663 3 5.8116 3 6.56155 3H17.4384C18.1884 3 18.5634 3 18.8346 3.21179C19.1059 3.42359 19.1968 3.78737 19.3787 4.51493L20.5823 9.32938C20.6792 9.71675 20.7276 9.91044 20.7169 10.0678C20.6892 10.4757 20.416 10.8257 20.0269 10.9515C19.8769 11 19.6726 11 19.2641 11V11C18.7309 11 18.4644 11 18.2405 10.9478C17.6133 10.8017 17.0948 10.3625 16.8475 9.76781C16.7593 9.55555 16.7164 9.29856 16.6308 8.78457V8.78457C16.6068 8.64076 16.5948 8.56886 16.5812 8.54994C16.5413 8.49439 16.4587 8.49439 16.4188 8.54994C16.4052 8.56886 16.3932 8.64076 16.3692 8.78457L16.2877 9.27381C16.2791 9.32568 16.2747 9.35161 16.2704 9.37433C16.0939 10.3005 15.2946 10.9777 14.352 10.9995C14.3289 11 14.3026 11 14.25 11V11C14.1974 11 14.1711 11 14.148 10.9995C13.2054 10.9777 12.4061 10.3005 12.2296 9.37433C12.2253 9.35161 12.2209 9.32568 12.2123 9.27381L12.1308 8.78457C12.1068 8.64076 12.0948 8.56886 12.0812 8.54994C12.0413 8.49439 11.9587 8.49439 11.9188 8.54994C11.9052 8.56886 11.8932 8.64076 11.8692 8.78457L11.7877 9.27381C11.7791 9.32568 11.7747 9.35161 11.7704 9.37433C11.5939 10.3005 10.7946 10.9777 9.85199 10.9995C9.82887 11 9.80258 11 9.75 11V11C9.69742 11 9.67113 11 9.64801 10.9995C8.70541 10.9777 7.90606 10.3005 7.7296 9.37433C7.72527 9.35161 7.72095 9.32568 7.7123 9.27381L7.63076 8.78457C7.60679 8.64076 7.59481 8.56886 7.58122 8.54994C7.54132 8.49439 7.45868 8.49439 7.41878 8.54994C7.40519 8.56886 7.39321 8.64076 7.36924 8.78457V8.78457C7.28357 9.29856 7.24074 9.55555 7.15249 9.76781C6.90524 10.3625 6.38675 10.8017 5.75951 10.9478C5.53563 11 5.26905 11 4.73591 11V11C4.32737 11 4.12309 11 3.97306 10.9515C3.58403 10.8257 3.31078 10.4757 3.28307 10.0678C3.27239 9.91044 3.32081 9.71675 3.41765 9.32938L4.62127 4.51493Z" stroke="currentColor" stroke-width="2"/>
                            </svg>
                            Офисы
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">CRM</div>
                    <div class="side-menu">
                        <a href="/crm">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path d="M196 151h-75v90h75c24.814 0 45-20.186 45-45s-20.186-45-45-45z" />
                                <path
                                    d="M467 0H45C20.186 0 0 20.186 0 45v422c0 24.814 20.186 45 45 45h422c24.814 0 45-20.186 45-45V45c0-24.814-20.186-45-45-45zM196 271h-75v105c0 8.291-6.709 15-15 15s-15-6.709-15-15V136c0-8.291 6.709-15 15-15h90c41.353 0 75 33.647 75 75s-33.647 75-75 75zm210-60c8.291 0 15 6.709 15 15s-6.709 15-15 15h-45v135c0 8.291-6.709 15-15 15s-15-6.709-15-15V241h-15c-8.291 0-15-6.709-15-15s6.709-15 15-15h15v-45c0-24.814 20.186-45 45-45h30c8.291 0 15 6.709 15 15s-6.709 15-15 15h-30c-8.276 0-15 6.724-15 15v45h45z" />
                            </svg>
                            SR Prepaid
                        </a>
                        <a href="/crmpost">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path
                                    d="M181 181h-60v60h60c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0M181 271h-60v60h60c16.54 0 30-13.46 30-30s-13.46-30-30-30zm0 0M346 241c-19.555 0-36.238 12.54-42.438 30h84.875c-6.199-17.46-22.882-30-42.437-30zm0 0" />
                                <path
                                    d="M436 0H75C33.648 0 0 33.648 0 75v362c0 41.352 33.648 75 75 75h361c41.352 0 76-33.648 76-75V75c0-41.352-34.648-75-76-75zM286 151h120v30H286zm-45 150c0 33.09-26.91 60-60 60H91V151h90c33.09 0 60 26.91 60 60 0 18.008-8.133 33.996-20.73 45 12.597 11.004 20.73 26.992 20.73 45zm180 0H303.562c6.196 17.46 22.883 30 42.438 30 16.012 0 30.953-8.629 38.992-22.516l25.957 15.032C397.58 346.629 372.687 361 346 361c-41.352 0-75-33.648-75-75s33.648-75 75-75 75 33.648 75 75zm0 0" />
                            </svg>
                            SR Postpaid
                        </a>
                    </div>
                </div>
                <div class="side-wrapper">
                    <div class="side-title">Роуминг</div>
                    <div class="side-menu">
                        <a href="/prepaid">
                            <svg viewBox="0 0 511.441 511.441" fill="currentColor">
                                <path d="M255.721 347.484L90.22 266.751v106.57l165.51 73.503 165.509-73.503V266.742z" />
                                <path
                                    d="M511.441 189.361L255.721 64.617 0 189.361l255.721 124.744 195.522-95.378v111.032h30V204.092z" />
                            </svg>
                            Роуминг Prepaid
                        </a>
                        <a href="/postpaid">
                            <svg viewBox="0 0 511.441 511.441" fill="currentColor">
                                <path d="M255.721 347.484L90.22 266.751v106.57l165.51 73.503 165.509-73.503V266.742z" />
                                <path
                                    d="M511.441 189.361L255.721 64.617 0 189.361l255.721 124.744 195.522-95.378v111.032h30V204.092z" />
                            </svg>
                            Роуминг Postpaid
                        </a>
                    </div>
                </div>






            </div>
            <div class="main-container">
                <form method="get" action="/pull">
                    <div class="main-header">
                        <a class="menu-link-main" href="#">Поиск в формате 99677Axxxxxx</a>
                        <div class="search-bar">
                            <input type="text" name="filter_pull" value="996{{#filter_pull}}{{filter_pull}}{{/filter_pull}}">
                        </div>
                        <a href="#dsd">
                            <div class="button-wrapper">
                                <button type="submit" class="content-button status-button open">Поиск</button>
                            </div>
                        </a>
                    </div>
                </form>

                <div class="content-wrapper">
                    <div class="content-section">
                        <div class="content-section-header">
                            <div scope="col" class="content-section-title">Номер в Мой Beeline</div>
                            <div scope="col" class="content-section-title">Дата активности</div>

                        </div>
                        <ul>
                            {{#myBeelines}}
                                <li class="adobe-product">
                                    <div class="products">
                                        {{#msisdn}}{{msisdn}}{{/msisdn}}
                                    </div>
                                    <span class="status">
                                        {{#actv_date_time}}{{actv_date_time}}{{/actv_date_time}}</span>

                                </li>

                            {{/myBeelines}}
                        </ul>
                    </div>

                </div>


                <div class="content-wrapper">
                    <div class="content-section">
                        <div class="content-section-header">
                            <div scope="col" class="content-section-title">Номер</div>
                            <div scope="col" class="content-section-title">Тематика</div>
                            <div scope="col" class="content-section-title">Дата отправки</div>
                            <div scope="col" class="content-section-title">Дата миграции</div>
                            <div scope="col" class="content-section-title">Комментарии</div>
                        </div>
                        <ul>
                            {{#pull}}
                            <li class="adobe-product">
                                <div class="products">
                                    {{#number}}{{number}}{{/number}}
                                </div>
                                <span class="status">
                                    {{#topic}}{{topic}}{{/topic}}</span>
                                <span class="status">
                                    {{#date_on}}{{date_on}}{{/date_on}}</span>
                                <span class="status">
                                    {{#date_off}}{{date_off}}{{/date_off}}</span>
                                <span class="status">
                                    {{#comments}}{{comments}}{{/comments}}</span>
                            </li>

                            {{/pull}}
                        </ul>
                    </div>

                </div>






            </div>
        </div>
        <div class="overlay-app"></div>
    </div>


   <!-- Подключаем jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 
    <script src="/js/combined/map.js"></script>

</body>

</html>
